<div class="create-card-element-extended">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Создание дохода/расхода</h1>
                </div>
            </div>
            <div class="new-card mt-4">
                <select class="input-create-card-new" id="type-select">
                    <option value="">Тип...</option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
                <select class="input-create-card-new" id="category-select">
                    <option value="">Категория...</option>
                </select>
                <input type="number" placeholder="Сумма в $..." class="input-create-card-new">
                <input type="date" placeholder="Дата..." class="input-create-card-new">
                <input type="text" placeholder="Комментарий..." class="input-create-card-new">
                <div class="create-button mt-2">
                    <a href="javascript:void(0)" class="btn btn-success button"  id="create-button">Создать</a>
                    <a href="javascript:void(0)" class="btn btn-danger button" id="cancel-button">Отмена</a>
                </div>
            </div>

        </div>
    </section>

</div>