<!--MAIN-->
<!--<a href="/">главная</a>-->
<!--<a href="/login">Логин</a>-->
<!--<a href="/sign-up">регистрация</a>-->
<div class="dashboard">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Главная</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="d-flex flex-wrap align-items-baseline menu" id="filter-buttons">
            <button class="btn btn-secondary me-2 mb-2" data-period="today">Сегодня</button>
            <button class="btn btn-secondary me-2 mb-2" data-period="week">Неделя</button>
            <button class="btn btn-secondary me-2 mb-2" data-period="month">Месяц</button>
            <button class="btn btn-secondary me-2 mb-2" data-period="year">Год</button>
            <button class="btn btn-secondary me-2 mb-2" data-period="all">Все</button>
            <button class="btn btn-secondary me-2 mb-2" data-period="interval">Интервал</button>
            <div class="date-interval">
                <b>с</b> <input type="date" id="dateFrom" class="date-one" placeholder="Дата">
                <b>по</b> <input type="date" class="date-two" id="dateTo" placeholder="Дата">
            </div>
        </div>
        <div class="chart row mb-8">
            <div class="chart-income col-6">
                <h2>Доходы</h2>
                <canvas id="myChart" class="myChartOne"></canvas>
            </div>
<!--            <div class="chart-divider"></div>-->

            <div class="chart-expenses col-6">
                <h2>Расходы</h2>
                <canvas id="expensesMyChart" class="myChartTwo"></canvas>
            </div>


        </div>
    </div>


</div>




