<div class="expenses-edit-card-element">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Редактирование категории расходов</h1>
                </div>
            </div>
            <input type="text" placeholder="Название..." class="input-create-card">
            <div class="create-button">
                <a href="javascript:void(0)" class="btn btn-success button" >Сохранить</a>
                <a href="javascript:void(0)" class="btn btn-danger button" >Отмена</a>
            </div>
        </div>
    </section>

</div>