<div class="expenses">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 mb-4">
                    <h1>Расходы</h1>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Еда</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>

                    </div>
                </div>
                <div class="card"     >
                    <div class="card-body">
                        <h5 class="card-title">Жилье</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Здоровье</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Кафе</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Авто</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Одежда</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Развлечения</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Счета</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Спорт</h5>
                        <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                    </div>
                </div>
                <div class="card plus">
                    <div class="card-body" id="create-card">
                        <i class="fa fa-plus translate-middle"></i>
                    </div>
                </div>
                <div class="popup">
                    <div class="delete-popup translate-middle" id="delete-popup">
                        <div class="delete-popup-content">
                            Вы действительно хотите удалить категорию?
                        </div>
                        <div class="delete-popup-button button mt-3">
                            <a href="javascript:void(0)" class="btn btn-success" >Да, удалить</a>
                            <a href="javascript:void(0)" class="btn btn-danger" id="not-delete" >Не удалять</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</div>