<div class="income">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Доходы</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Депозиты</h5>
                <a href="javascript:void(0)" class="btn btn-primary edit-card" >Редактировать</a>
                <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
                <div class="popup">
                    <div class="delete-popup translate-middle" id="delete-popup">
                        <div class="delete-popup-content">
                            Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                        </div>
                        <div class="delete-popup-button button mt-3">
                            <a href="javascript:void(0)" class="btn btn-success" >Да, удалить</a>
                            <a href="javascript:void(0)" class="btn btn-danger" id="not-delete" >Не удалять</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Зарплата</h5>
                <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                <a href="javascript:void(0)" class="btn btn-danger delete-popup-open" >Удалить</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Сбережения</h5>
                <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Инвестиции</h5>
                <a href="javascript:void(0)" class="btn btn-primary edit-card">Редактировать</a>
                <a href="javascript:void(0)" class="btn btn-danger delete-popup-open">Удалить</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" id="create-card">
                <i class="fa fa-plus translate-middle"></i>
            </div>
        </div>

    </div>
</div>