<div class="income-expenses">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Доходы и расходы</h1>
                </div>
            </div>
            <div class="buttons-create mt-4">
                <a href="/create-card-element-extended" class="btn btn-success">Создать доход</a>
                <a href="/create-card-element-extended" class="btn btn-danger" >Создать расход</a>
            </div>
            <div class="mt-4 mb-4">
                <div class="d-flex flex-wrap align-items-baseline menu">
                    <button class="btn btn-secondary me-2 mb-2">Сегодня</button>
                    <button class="btn btn-secondary me-2 mb-2">Неделя</button>
                    <button class="btn btn-secondary me-2 mb-2">Месяц</button>
                    <button class="btn btn-secondary me-2 mb-2">Год</button>
                    <button class="btn btn-secondary me-2 mb-2">Все</button>
                    <button class="btn btn-secondary me-2 mb-2">Интервал</button>
                    <div class="date-interval">
                        <b>с</b> <span class="date-one">Дата</span> <b>по</b> <span class="date-two">Дата</span>
                    </div>
                </div>
            </div>

            <table class="table" id="data=table">
                <thead>
                <tr>
                    <th scope="col">№ операции</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col" colspan="2"></th>
                </tr>
                </thead>
                <tbody id="records">
<!--                <tr>-->
<!--                    <th scope="row">1</th>-->
<!--                    <td class="income-table">Доход</td>-->
<!--                    <td>Зарплата</td>-->
<!--                    <td>500$</td>-->
<!--                    <td>11.09.2022</td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td class="link">-->
<!--                        <a href="javascript:void(0)" class="delete-popup-open">-->
<!--                            <span class="fa fa-trash"></span>-->
<!--                        </a>-->
<!--                        <a href="/edit-card-element-extended">-->
<!--                            <span class="fa fa-pencil"></span>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td class="expenses-table">Расход</td>-->
<!--                    <td>Жилье</td>-->
<!--                    <td>2 500$</td>-->
<!--                    <td>12.09.2022</td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td class="link">-->
<!--                        <a href="javascript:void(0)" class="delete-popup-open">-->
<!--                            <span class="fa fa-trash"></span>-->
<!--                        </a>-->
<!--                        <a href="/edit-card-element-extended">-->
<!--                            <span class="fa fa-pencil"></span>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->

                </tbody>
            </table>
        </div>
    </section>
    <div class="popup">
        <div class="delete-popup translate-middle" id="delete-popup">
            <div class="delete-popup-content">
                Вы действительно хотите удалить операцию?
            </div>
            <div class="delete-popup-button button mt-3">
                <a href="javascript:void(0)" class="btn btn-success" >Да, удалить</a>
                <a href="javascript:void(0)" class="btn btn-danger" id="not-delete" >Не удалять</a>
            </div>
        </div>
    </div>

</div>